body {
  overflow-x: hidden; 
  background-color: black;
}

#image1 {
  position: absolute;
  width: 100%;
  left: 0px;
}

#texto {
  position: absolute;
  padding: 7.5% 0 0 7.5%;
  color: white;
}

#image2 {
  position: absolute;
  width: 100%;
  margin-top: 16vw;
  left: 0px;
}

#image3 {
  position: absolute;
  width: 100%;
  height: 82vh;
  margin-top: 19vw;
  left: 0px;
}

#lista {
  position: absolute;
  font-size: 4vw;
  color: yellow;
  padding-left: 7vw;
}

#players {
  position: absolute;
  border: 1px solid green;
  height: 78vh;
  width: 28%;
  margin-top: 20vw;
}

#game {
  position: absolute;
  height: 78vh;
  width: 67%;
  margin-top: 20vw;
  margin-left: 30%;
}

#screen {
  border: 1px solid whitesmoke;
  cursor: crosshair;
  width: 100%;
  height: 100%;
}
