body {
  overflow-x: hidden; 
  background-color: black;
}

#image1 {
  position: absolute;
  width: 100%;
  left: 0px;
}

#texto {
  position: absolute;
  padding: 7.5% 0 0 7.5%;
  color: white;
}

button {
  position: absolute;
  width: 5vw;
  height: 5vw;
  margin-top: 7%;
  margin-left: 2%;
}

#image2 {
  position: absolute;
  width: 100%;
  margin-top: 15.85vw;
  left: 0px;
}

#left, #right {
  position: absolute;
  height: 1.75vw;
  margin-top: 16.4vw;
}

#image3 {
  position: absolute;
  width: 100%;
  height: 86vh;
  margin-top: 19vw;
  left: 0px;
}

#lista {
  position: absolute;
  font-size: 4vw;
  color: yellow;
  padding-left: 7vw;
}

#players {
  position: absolute;
  //border: 1px solid green;
  height: 82vh;
  width: 35%;
  margin-top: 20vw;
}

#game {
  position: absolute;
  height: 82vh;
  width: 62%;
  margin-top: 20vw;
  margin-left: 35%;
}

#screen {
  border-left: 1px dotted whitesmoke;
  cursor: crosshair;
  width: 100%;
  height: 100%;
}
